.bestsellers-slider {

}

.bestseller-slider__wrapper {
  background-image: url(../img/bg-triangle-white.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.bestsellers-slider__table {

}

.bestsellers-slider__title-tr {

}

.bestsellers-slider__title-th {

}

.bestsellers-slider__title-price {

}

.bestsellers-slider__title-td {

}

.bestsellers-slider__toggles {
  // блочная модель
  margin: 0;
}

.bestsellers-slider-toggles__toggle--1 {

}

.bestsellers-slider-toggles__toggle--2 {

}

.bestsellers-slider-toggles__toggle--3 {

}
