.bestsellers-slider {
  max-height: 250px;

  background-image: url(/img/bg-triangle-white.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.bestseller-slider__wrapper {
  margin: 0 auto;
  width: 320px;
}

.bestsellers-slider__table {

}

.bestsellers-slider__title-tr {

}

.bestsellers-slider__title-th {

}

.bestsellers-slider__title-price {

}

.bestsellers-slider__title-td {

}

.bestsellers-slider__toggles {
  margin: 0;
}

.bestsellers-slider .slider-toggles__toggle--active {
  background-color: $gray
}

