.contacts-block {

}

.contacts-block__wrapper {

}

.contacts-block__header {

}

.contacts-block__list {
  // блочная модель
  margin: 0;

  // оформление
  list-style: none;
}

.contacts-block__item {

}

.contacts-block__title {
  // блочная модель
  margin: 0;
}

.contacts-block__text {
  // блочная модель
  margin: 0;
}
