.introduction {
  background-color: $black;
}

.introduction__wrapper {
  width: 320px;
  height: 171px;
  margin: 0 auto;
  padding-top: 31px;

  background-image: url(../img/bg-back-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: 0 -66px;

  box-sizing: border-box;
}

.introduction__title {
  margin: 0;

  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  color: $white;
  text-align: center;
}
