.link-attachment__platform {
    padding: 37px;
    padding-bottom: 0;
}

.link-attachment {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.link-attachment__title {
  margin: 0;
  padding: 0;

  display: none;
}

.link-attachment__button {
  text-decoration: none;
  color: $white;

  font-size: 18px;
  font-weight: 700;
}

.link-attachment__info {
  margin: 0;
  padding-top: 14px;
  padding-bottom: 28px;
  padding-right: 25px;
  padding-left: 25px;

  line-height: 24px;
  color: $white;
  text-align: center;
 }
