.main-map {
  background-color: $gray;
}

.main-map__wrapper {
  margin: 0 auto;
  width: 320px;
  height: 200px;

  background-image: url(../img/icon-map-marker.svg), url(../img/bg-triangle-white-footer.svg), url(../img/bg-map-mobile@1x.png);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: 36px 35px, 100% auto, 100% auto;
  background-position: 50.5% 55%, 0 0, 0 -450px;
}
