.page-header {
  display: flex;
  justify-content: center;

  background-color: $black;
}

.page-header__wrapper {
  max-width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  box-sizing: border-box;
}

.page-header__logo-btn-wrap {
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.page-header__logo {

}

.page-header__logo-image {

}

.page-header__menu-toggler {

}

.page-header__page-navigation {

}

.page-header__toggler-wrap {
  position: relative;

  cursor: pointer;

  width: 50px;
  height: 25px;
  margin:0;
}
