.platform {
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 240px;
  height: 60px;
}

.platform__link {
  text-decoration: none;
  color: white;
}

.platform__link--iphone {
  margin-top: -7px;
}

.platform__link--android {

}

.platform__link--windows {

}
