.slider-reviews {

}

.slider-reviews__wrapper {
  background-color: $white;

  position: relative;

  padding-bottom: 50px;
}

.slider-reviews__list {
  margin: 0;
  padding: 0;
  padding-top: 40px;
  max-width: 320px;
  margin: 0 auto;

  list-style: none;
}

.slider-reviews__item {
  text-align: center;

  padding-left: 15px;
  padding-right: 15px;
}

.slider-reviews__item--slide-1 {

}

.slider-reviews__item--slide-2 {
  display: none;
}

.slider-reviews__item--slide-3 {
  display: none;
}

.slider-reviews__author-name {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.slider-reviews__author-age {
  margin: 0;
  display: none;
}


.slider-reviews__text {
  margin: 0;
  padding-top: 15px;
  padding-bottom: 35px;
  line-height: 30px;
}

.slider-reviews__toggles {
  margin: 0;
  display: flex;

  position: absolute;
  left: 48.2%;
  bottom: 11.5%;
}

.slider-reviews-toggles--active {
  border-radius: 50%;
  border: 2px solid  $black;
}

.slider-reviews-toggles {

}

.slider-reviews-toggles__toggle--1 { // не показывает рамку, разобраться!!!
  border-radius: 50%;
  border: 2px solid  $black;
}

.slider-reviews-toggles__toggle--2 {

}

.slider-reviews-toggles__toggle--3 {

}
