.socials {

}

.socials__list {
  display: flex;

  width: 180px;
  margin: 0;
  padding: 0;
  margin: 0 auto;

  list-style: none;
  cursor: pointer;
}

.socials__item {
  justify-content: space-between;

  margin-top: 32px;
  margin-right: 12px;
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;

  padding: 15px;

  border: 2px solid $gray;
  border-radius: 50%;

  box-sizing: border-box;

  text-align: center;
}

.social__item--twitter {

}

.social__item--facebook {

}

.social__item--youtube {

}

.socials__link {

}
